* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
        padding: 0em;
}

.pure-menu-list{
    float: right;
    font-size: 80%;
    margin-top: 3px;
}

.home-menu{
    background-color: #5c5c5c;
}

.pure-menu-heading{
    color: aliceblue;
}

.pure-menu-link:hover{
    color: #bed7e8;
    background: none;
}

.pure-menu-link{
    color: aliceblue;
}

.splash-container {
    background: #1f8dd6;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    position: fixed !important;
}

.splash {
    width: 100%;
    height: 30%;
    margin: auto;
    position: absolute;
    top: 8px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: azure;
}

.splash-head{
    font-size: 12px;
    text-align: center;
    margin: auto;
    width: 50%;
    border: 3px solid white;
    padding: 1em 1.6em;
    border-radius: 5px;
    line-height: 0.5em;
}

.splash-subhead{
    font-size: 9px;
}

.pure-menu-link{
    display: none;
}

.cada-main{
    display: inline-block;
}

.content-wrapper {
    position: absolute;
    top: 30%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

.appicon{
    float: left;
}

.footer {
    width: 100%;
    background: #5c5c5c;
    text-align: center;
    padding: 1em;
    color: azure;
}

.footer a{
    color: aliceblue;
    text-decoration: none;
}

.appwrapper{
    width: 100%;
    height: 120px;
    margin: 10px;
    padding: 0px;
    border-bottom: 1px solid #adadad;
}

.appicon{
    margin: 5px;
}

.appinfo{
    height 120px;
}

.appicon img{
    height: 110px;
    border-radius: 5px;
}

.apptitle{
    padding-top: 10px;
}

.appauthor{
    color: #606060;
    font-size: 80%;
}

@media (min-width: 48em) {
    .pure-menu-link{
        display: inline-block;
    }
    .splash-head{
        font-size: 32px;
    }
    .splash-subhead{
        font-size: 16px;
    }
    .splash-container{
        height: 45%;
    }
    .content-wrapper{
        top: 45%;
    }
    .appwrapper{
        height: 360px;
        border-radius: 3px;
        -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    }
    .l-box {
        padding: 1em;
}
}